ALLOWED_ORIGINS="http://localhost:3000"
PORT="3000"
JWT_SECRET_KEY="change-me"
JWT_EXPIRES_IN_HOURS=8
DISK_STORAGE_PATH="./storage"
DB_DIALECT="postgresql"
DB_HOST="127.0.0.1"
DB_PORT="5434"
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_NAME="ecommerce"
